<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <dict>
        <key>Title</key>
        <string>Tare Panda</string>
        <key>Creator</key>
        <string>songe</string>
        <key>LinkURL</key>
        <string>https://github.com/songe</string>
    </dict>
    <key>State</key>
    <dict>
        <key>Base</key>
        <dict>
            <key>Animated</key>
            <false/>
            <key>Image</key>
            <string>Base.png</string>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>Online</key>
        <dict>
            <key>Animated</key>
            <false/>
            <key>Image</key>
            <string>Online.png</string>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>Alert</key>
        <dict>
            <key>Animated</key>
            <true/>
            <key>Images</key>
            <array>
                <string>Alert.png</string>
            </array>
            <key>Delay</key>
            <real>0.5</real>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>Away</key>
        <dict>
            <key>Animated</key>
            <false/>
            <key>Image</key>
            <string>Away.png</string>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>Connecting</key>
        <dict>
            <key>Animated</key>
            <true/>
            <key>Images</key>
            <array>
                <string>Connecting1.png</string>
            </array>
            <key>Delay</key>
            <real>0.5</real>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>Idle</key>
        <dict>
            <key>Animated></key>
            <false/>
            <key>Image</key>
            <string>Away.png</string>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>Preview</key>
        <dict>
            <key>Animated</key>
            <false/>
            <key>Image</key>
            <string>Online.png</string>
            <key>Overlay</key>
            <false/>
        </dict>
        <key>ApplicationIcon</key>
        <dict>
            <key>Animated</key>
            <false/>
            <key>Image</key>
            <string>ApplicationIcon.png</string>
            <key>Overlay</key>
            <false/>
        </dict>
    </dict>
</dict>
</plist>